body, html {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #1111119f;
  flex-wrap: wrap;
}

.menu-bar a, a {
  text-decoration: none;
  padding: 10px;
  display: block;
}

#colorPicker {
  margin-left: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.parent-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  flex-wrap: wrap;
  max-width: 100%;
}

.left-container, .right-container {
  flex: 1;
  padding: 20px;
  background-color: #11111136;
  min-width: 300px;
}

.left-containerT {
  flex: 1;
  padding: 20px;
  background-color: #11111136;
  min-width: 300px;
  padding-left: 220px;
}

.right-containerT {
  flex: 1;
  padding: 20px;
  background-color: #11111136;
  min-width: 300px;
  padding-right: 80px;
}

p {
  font-size: 15px;
}

section {
  flex: 1 100%;
  padding: 20px;
  font-size: large;
  letter-spacing: 2px;
  font-weight: bolder;
}

.image-container, #toggleImage {
  display: block;
  margin: auto;
  height: auto;
  max-width: 360px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e4e4e436;
}

@media (max-width: 700px) {
  .parent-container {
    flex-direction: column;
  }

  .parent-container > *:not(:last-child) {
    margin-bottom: 20px;
  }

  .left-containerT {
    padding-left: 50px;
  }
  
  .right-containerT {
    padding-right: 10px;
  }

  .image-container, #toggleImage {
    scale: 80%;
  }
}
